*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,html{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

li{
  list-style: none;
  height: auto;
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 0.3rem;

  text-shadow: 2px 2px 5px rgba(10, 17, 77, 0.582);
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(0, rgb(10, 89, 138),rgb(5, 18, 56));
}
.bg-gradient{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0, rgb(196, 229, 250),rgb(6, 127, 240));
  opacity: 1;
  transition: opacity 60s ease;
}
#canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.container-svg{
  position: relative;
  top: 150px;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.svg-textHead{
  width: 600px;
  height: fit-content;
  opacity: 1;
  transition: all 0.3s;
}

#svgGroup .svg-path{
  position: relative;
  stroke-dasharray: 380;  
  stroke-dashoffset: 380;
  animation: draw 3s forwards ease, fill 1s ease 2s forwards;
  fill: transparent;
}

.ng-text{
  top: 200px;
  position: relative;
  font-size: 1.5rem;
  color: white;
  opacity: 1;
  transition: all 0.3s;
}

.ng-text li{
  transform: translateX(-9999px);
}

.year{
  position: absolute;
  bottom: -100px;
  font-size: 6rem;
  color: rgb(75, 163, 235);
  animation: slideDown 1s forwards 3s ease;
  opacity: 1;
  transition: all 0.3s;
}

.hide-ui-btn{
  position: absolute;
  border: none;
  width: 50px;
  height: 30px;
  border-radius: 0.3rem;
  right: 0;
  bottom: 0;
  margin: 1rem;
  background-color: rgba(52, 111, 223, 0.705);
  color: white;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
}

.hide-ui-btn:hover{
  background-color: rgba(52, 155, 32, 0.705);
}

#myName{
  position: absolute;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 0.3rem;
  padding: 0 0.5rem;
  background-color: rgba(18, 69, 180, 0.918);
  color: white;
  height: 30px;
  right: 55px;
  bottom: 0;
  margin: 1rem;
  opacity: 0;
  transition: opacity 1s ease;
}

.ng-text li:nth-child(1){
  animation: slide 2s forwards;
}
.ng-text li:nth-child(2){
  animation: slide 2s forwards 0.2s;
}
.ng-text li:nth-child(3){
  animation: slide 2s forwards 0.3s;
}
.ng-text li:nth-child(4){
  animation: slide 2s forwards 0.4s;
}
.ng-text li:nth-child(5){
  animation: slide 2s forwards 0.5s;
}
.ng-text li:nth-child(6){
  animation: slide 2s forwards 0.6s;
}
.ng-text li:nth-child(7){
  animation: slide 2s forwards 0.7s;
}
.ng-text li:nth-child(8){
  animation: slide 2s forwards 0.8s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  to {
    fill: white;
  }
}

@keyframes slide {
  to{
    transform: translateX(0);
  }
}

@keyframes slideDown {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-170px);
  }
  100%{
    transform: translateY(-150px);
  }
}

@keyframes myName {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1; /* Продолжаем быть видимым до 60% */
  }
  100% {
    opacity: 0;
  }
}

.animate {
  animation: myName 3s ease-in-out forwards;
}

@media (max-width: 650px) {
  .svg-textHead{
    transform: scale(0.9);
  }
}
@media (max-width: 500px) {
  .svg-textHead{
    transform: scale(0.6);
  }
}
@media (max-width: 400px) {
  .svg-textHead{
    transform: scale(0.55);
  }
}
